@font-face {
	font-family: 'Absolut';
	src: url('../fonts/AbsolutHeadlineWeb2021-Condensed.eb843722c6f4a6377e249178d9f35f1e.woff2') format('woff2'); 
	font-weight: bold;
}

@font-face {
	font-family: 'Absolutnormal';
	src: url('../fonts/absolut-regular.woff2') format('woff2'); 
	font-weight: normal;
}
@font-face {
	font-family: 'Absolutregular';
	src: url('../fonts/AbsolutSans2021-Regular.1625dd223be6277f642087ed274a92b7.woff2') format('woff2'); 
	font-weight: normal;
}
@font-face {
	font-family: 'Absolutbold';
	src: url('../fonts/AbsolutSans2021-Bold.465d409442b71ecdfbe795eebb5f35bf.woff2') format('woff2'); 
}

@font-face {
	font-family: 'Absolutmedium';
	src: url('../fonts/AbsolutSans2021-Medium.c782d65efc287b6ece576d0e373e979a.woff2') format('woff2'); 
	font-weight: medium;
}

@font-face {
	font-family: 'Absoluticons';
	src: url('../fonts/absolut-icons.7bbe7e98cf049b7b84a9a9ff9a25451d.woff2') format('woff2'); 	
}

@font-face {
	font-family: 'AbsolutHandWritten';
	src: url('../fonts/AbsolutHandwrittenHeadline2021-Regular.01f05d40c66bf9acb545b4fc5847b555.woff2') format('woff2'); 
	font-weight: light;
	font-style: normal;
}

/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
  padding: 0;
}

/* 320 px beginnen */

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--blue:#0000BD;
	--white: white;
	--Shadow-color: rgb(81, 78, 78);
	--black: black;
	--footer:rgb(236, 233, 233);
	--line:lightgrey;
	--beigepink:#E8D8D0;
}



section:nth-of-type(1) img{
    width: 100%;
}

section:nth-of-type(2){
    display: grid;
    grid-template-columns: 17em;
    grid-template-rows: 10em;
    grid-auto-columns:25em;  
  	place-content: center;
	padding-bottom: 2em;
}

section:nth-of-type(2) h1{
    font-family: Absolut, arial, sans-serif;
    line-height: 80%;
    justify-self: center;
    align-self: end;
    color: var(--blue);
    font-size: 2.5em;
    text-align: center;
    margin-bottom: .4em;   
}

section:nth-of-type(2) h1 strong{
    font-family: AbsolutHandWritten, arial, sans-serif;
}

section:nth-of-type(2) p{
    font-family: Absolutmedium, arial, sans-serif;
    font-size: 1.2em;
    line-height: 150%;
    padding: 0 1em;
    justify-self: center;
    align-self: end;
    color: var(--black);
    text-align: center;
}

section:nth-of-type(3){
	display: grid;
	grid-template-columns:17em;
  	place-content: center;
	background-color:var(--beigepink);
	grid-template-rows:19em;
	padding-bottom: 2em;

}

section:nth-of-type(3)> section {
	grid-row-start: 2;
	display: grid;
	place-content: center;
	grid-template-columns:17em;
	padding-top: 2em;
	padding-bottom: 3em;
	grid-template-rows: 11em;
	background-color: var(--white);
	line-height: 1.4;
}


section:nth-of-type(3)> section h2 {
	font-family: Absolutbold, Arial, sans-serif;
	font-size: 1.7em;
	text-transform: uppercase;
	padding: 0 1em;
	
}
section:nth-of-type(3)> section p {
	font-family: Absolutregular, Arial, sans-serif;
	font-size: .9em;
	padding: 0 2em 0 1.5em;
	
}

section:nth-of-type(3) img{
	grid-row-start: 1;
	width: 100%;
	justify-self: center;
	align-self: end;
}

section:nth-of-type(4){
	display:grid;
	grid-template-columns: 17em;
	grid-template-rows: 17em;
	place-content: center;
	padding: 4em 0;

}

section:nth-of-type(4) img{
	justify-self: center;
	align-self: center;
	width: 100%;
	height:100%;
}

section:nth-of-type(5){
	display: grid;
	grid-template-columns: 16em;
	place-content: center;
}

section:nth-of-type(5) h2{
	font-family: Absolut,Arial, sans-serif;
	font-size: 2.7em ;
	line-height: 80%;
	color:var(--blue);
	text-align: center;

}

section:nth-of-type(5) h2 strong{
	font-family: AbsolutHandWritten,Arial, sans-serif;
	color:var(--blue);


}

section:nth-of-type(5) p{
	padding: .8em .5em 0 .5em;
    font-family: Absolutmedium, arial, sans-serif;
    font-size: 1.2em;
    line-height: 150%;
    justify-self: center;
    align-self: end;
    color: var(--black);
    text-align: center;
}

section:nth-of-type(5) p:last-of-type{
	padding-top: 1em;
	padding-bottom: 2em;
}

section:nth-of-type(6){
	background-image: url("../images/BornToRemixWithCardboard.png");
	width: 100%;
}



section:nth-of-type(6) h3{
	display: grid;
	grid-auto-columns: min-content;
	place-content:center ;
	font-family: Absolut, arial, sans-serif;
	font-size: 5.3em;
	line-height: 90%;
	padding: .5em 0;
	color: var(--white);
	text-align: center;

}

section:nth-of-type(6) h3 strong{
	font-family: AbsolutHandWritten, arial, sans-serif;
}

section:nth-of-type(6) img{
	width: 100%;
}