@font-face {
	font-family: 'Absolut';
	src: url('../fonts/AbsolutHeadlineWeb2021-Condensed.eb843722c6f4a6377e249178d9f35f1e.woff2') format('woff2'); 
	font-weight: bold;
}

@font-face {
	font-family: 'Absolutnormal';
	src: url('../fonts/absolut-regular.woff2') format('woff2'); 
	font-weight: normal;
}
@font-face {
	font-family: 'Absolutregular';
	src: url('../fonts/AbsolutSans2021-Regular.1625dd223be6277f642087ed274a92b7.woff2') format('woff2'); 
	font-weight: normal;
}
@font-face {
	font-family: 'Absolutbold';
	src: url('../fonts/AbsolutSans2021-Bold.465d409442b71ecdfbe795eebb5f35bf.woff2') format('woff2'); 
}

@font-face {
	font-family: 'Absolutmedium';
	src: url('../fonts/AbsolutSans2021-Medium.c782d65efc287b6ece576d0e373e979a.woff2') format('woff2'); 
	font-weight: medium;
}

@font-face {
	font-family: 'Absoluticons';
	src: url('../fonts/absolut-icons.7bbe7e98cf049b7b84a9a9ff9a25451d.woff2') format('woff2'); 	
}

@font-face {
	font-family: 'AbsolutHandWritten';
	src: url('../fonts/AbsolutHandwrittenHeadline2021-Regular.01f05d40c66bf9acb545b4fc5847b555.woff2') format('woff2'); 
	font-weight: light;
	font-style: normal;
}


:root {
	/* startje */
	--background:white;
	--blue:#0000BD;
	--white: white;
	--Shadow-color: rgb(81, 78, 78);
	--black: black;
	--footer:rgb(236, 233, 233);
	--line:lightgrey;
	--focus:rgb(234, 232, 232);
	--yellow:#FFFF00;
	--beigepink:#E8D8D0;
}

@media (prefers-color-scheme: dark) {
	:root {
		/* startje */
		--background:#0000BD;
		--blue:white;
		--white: rgb(55, 55, 55);
		--Shadow-color: rgb(81, 78, 78);
		--black: rgb(255, 255, 255);
		--footer:rgb(133, 132, 132);
		--line:rgb(255, 255, 255);
		--focus:rgb(252, 244, 244);
		--beigepink:rgb(161, 83, 96);
	
	}
}
/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
  padding: 0;
}

/* 320 px beginnen */

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

body{
	border-color: var(--background);
}

header{
	z-index: 200;
	display: grid;
	grid-template-columns: 1fr max-content 1fr;
	position: sticky;
	top:0;
	background-color: var(--blue);
	height: 3em;
	width: 100%;
}

header button{
	z-index: 300;
	position: relative;
	order:-1;
	justify-self: start;
	
	aspect-ratio:1/1;

	display:grid;
	place-items:center;

	border:none;
	background-color:transparent;
}


header button span {
	position: absolute;
	width:1.5em;
	height:.15em;
	background-color: var(--white);
	transition: .3s;
}

header button span:nth-of-type(1) {
	transform: translateY(-.3em);
}

header button span:nth-of-type(2) {
	transform: translateY(.3em);
}

header button.open span:nth-of-type(1) {
	transform: translateY(0) rotate(45deg);
	background-color:black;
}

header button.open span:nth-of-type(2) {
	transform: translateY(0) rotate(-45deg);
	background-color:black;
}

nav {
	padding:5em 0;
	display:grid;
	align-content:start;
	gap:1em;
	background: var(--footer);
	position:fixed;
	inset:0;
	translate: -100% 0;
	transition:.3s;
  }

nav ul { 
	margin:0; 
	padding: 0 1.5em;
	list-style:none;
  }
  
nav li{
	z-index: 300;
	padding: .7em 0;
	border-bottom: .1em var(--line) solid;
  }

nav li a{
	/* padding: .7em 0; */
	text-decoration: none;
	font-family: Absolutbold, Arial;
	color:var(--black);
	font-size: 1.3em;
	line-height: 1.4;

	
}

nav li a:focus{
	padding-left: 1em;
	left:1em;
	right:1em;
	background-color: var(--focus);
	width: 80%;
}

nav li a:visited{
	text-decoration: none;
	font-family: Absolut, Arial;
	font-size: 1em;
	color:var(--black);
	padding: 2em;
	line-height: 1.4;
}
nav.open {

	translate:0 0;
  }

header > h1{
	font-family: Absolut,Impact;
	font-size: 2.5em;
	/* text-align: center; */
	color:var(--white);
}
header a{
	text-decoration: none;
}
header a:visited{
	text-decoration-line: none;
	color:var(--white);
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
  }

  footer{
	margin-top: 0;
	background-color: var(--footer);
  }

  footer details{
	font-size: 1.1em;
	font-family: Absolutbold, Arial,sans-serif;
	padding: 0 0 0 1em;
	border-bottom: .1em solid var(--line);
  }

  footer details:first-of-type{
	padding-top: 2em;
  }
 footer h5{
	display: grid;
	grid-template-columns: 15em;
	grid-template-rows: 8em;
	align-items: end;
	font-family: Absolutnormal, Arial, sans-serif;
	color: var(--Shadow-color);
	font-size: .95em;
	padding-left:1em ;
	padding-bottom: 1.5em;
 }
  Footer h6{
	background-color: var(--blue);
	color: var(--white);
	font-family: Absolutregular, impact;
	padding: 1.3em 0;
	text-align: center;
	font-size: .9em;
	line-height: 1.4em;
  }

  details > summary:active{
	background-color: var(--white);
	border-bottom: .1em solid var(--line);
  }

  details > summary {
	display:flex;
	justify-content:space-between;
	list-style-type: none;
	padding: 1em 1em 1em 0 ;
	transition: 1s;
}

details > summary:focus{
	padding-left: 1em;
	background-color: var(--focus);
}

details > summary::before {
	content:"+";
	order:2;
}

  details[open] > summary {
	list-style-type: none;
	transition: 1s;
}
details[open] > summary::before {
	content:"-";
	order:2;
	transition: .3s;
}


footer > details ul {
	list-style-type: none;
}
footer > details ul a {
	text-decoration: none;
}

footer > details li a p{
	color: var(--black);
	font-family: Absolutregular, Arial,sans-serif;
	padding: 1em 2em;
	border-bottom: .1em solid var(--line);
}

footer > details li a:visited{
	text-decoration: none;
}
footer > details li:focus{
	padding-left: 1em;
	background-color: var(--focus);
}

footer > ul{
	text-decoration: none;
	list-style-type: none;
	padding: 1em 2em;
	display:flex;
	justify-content:space-between;
	border-bottom: .1em solid var(--line);
}

footer ul a img{
	width:1.7em;
}

footer ul a:visited{
	width:1.7em;
}

footer > section {
	padding: 1em 1em;
	display:flex;
	justify-content: space-between;

	align-items: center;
	font-family: Absolutregular,Arial, sans-serif ;
	border-bottom: .1em solid var(--line);
}

footer > section img:nth-of-type(1){
	order:-1;
	width: 1.5em;
	height: 1.5em;
}
footer > section img:nth-of-type(2){
	rotate: 180deg;

	width: 1em;
	height: 1em;
}

footer section h4{
	align-items: center;
	justify-items: center;
	left:0;

}